 * {
      /*初始化样式*/
      margin: 0;
      padding: 0;
    }
    a { color: #666; outline: 0; text-decoration: none; }
    html,body{
      margin: 0px;
      padding: 0px;
      height: 100%;
      overflow: hidden;
      font-size: 100px;
    }
    body {
      /*让 body 初始 width 和 height 就 等于 页面可视区域的 宽高*/
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      /*用于 测试的 样式*/
      background-color: #444;
      color: #FFF;
      letter-spacing: 4px;
      font-size: 28px;
      /*文字居中*/
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media screen and (orientation:portrait) {
      /*竖屏样式*/
      body {
        transform-origin: 0 0;
        transform: rotateZ(90deg) translateY(-100%);
        width: 100%;
        height: 100%;
        /* transform: rotateZ(90deg); */
      }
    }
    /*测试 边边角角*/
    div {
      position: fixed;
      height: 100%;
      width: 100%;
    }
    #jb{
        /* background-color: red; */
    }
    #jb.tp{
        margin:0 auto;
        background-color: yellow;
        z-index: 99;
    }
    .tp img{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .se2{
        display:none;
    }
    .se3{
        display:none;
    }
    /*阅读灯*/
    .hep .ca1{
    	position: absolute;
    	width: 25%;
    	height: 5%;
    	left: 45%;
    	top: 5.5%;
    	/* border: 1px solid yellow; */
    }
    /*后视镜*/
    .hep .ca2{
    	position: absolute;
    	width: 22%;
    	height: 5%;
    	left: 45%;
    	top: 15.5%;
    	/* border: 1px solid yellow; */
    }
    /*仪表控制*/
    .hep .ca3{
    	position: absolute;
    	width: 13%;
    	height: 5%;
    	left: 35%;
    	top: 38%;
    	/* border: 1px solid yellow; */
    }
    /*娱乐系统*/
    .hep .ca4{
    	position: absolute;
    	width: 14%;
    	height: 5%;
    	left: 52%;
    	top: 45%;
    	/* border: 1px solid yellow; */
    }
    /*方向盘*/
    .hep .ca5{
    	position: absolute;
    	width: 15%;
    	height: 5%;
    	left: 24%;
    	top: 48%;
    	/* border: 1px solid yellow; */
    }
    /*灯光及雨刷控制*/
    .hep .ca6{
    	position: absolute;
    	width: 17%;
    	height: 5%;
    	left: 6%;
    	top: 49.5%;
    	/* border: 1px solid yellow; */
    }
    /*空调系统*/
    .hep .ca7{
    	position: absolute;
    	width: 15%;
    	height: 5%;
    	left: 48%;
    	top: 54%;
    	/* border: 1px solid yellow; */
    }
    /*车窗及电动门控制*/
    .hep .ca8{
    	position: absolute;
    	width: 22%;
    	height: 5%;
    	left: 14%;
    	top: 60%;
    	/* border: 1px solid yellow; */
    }
    /*紧急情况*/
    .hep .ca9{
    	position: absolute;
    	width: 27%;
    	height: 5%;
    	left: 54%;
    	top: 61%;
    	/* border: 1px solid yellow; */
    }
    /*座椅和保护*/
    .hep .ca10{
    	position: absolute;
    	width: 13%;
    	height: 5%;
    	left: 69.5%;
    	top: 76%;
    	/* border: 1px solid yellow; */
    }
    /*新车准备*/
    .hep .ca11{
    	position: absolute;
    	width: 12%;
    	height: 5%;
    	left: 27%;
    	top: 90%;
    	/* border: 1px solid yellow; */
    }
    /*启动和驾驶*/
    .hep .ca12{
    	position: absolute;
    	width: 13.5%;
    	height: 5%;
    	left: 41%;
    	top: 90%;
    	/* border: 1px solid yellow; */
    }
    /*简易故障排除*/
    .hep .ca13{
    	position: absolute;
    	width: 15%;
    	height: 5%;
    	left: 57%;
    	top: 90%;
    	/* border: 1px solid yellow; */
    }
    #jb .right{
        width: 5%;
        height: 60%;
        left: 0%; 
        top: 25%;
        /* background-color: red; */
    }
    #jb .right img{
      position: absolute;
      width: 120%;
      left: -15%; 
      top: 35%;
      transform: rotate(180deg);
    }